<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="main.css">
    <script src="../clases.js"></script>
    <link rel="shortcut icon" href="../Imagenes/Cofre.png">
    <title>Buscar talentos</title>
</head>
<body>
    <h1>Realizar consultas de talentos</h1>
    <div id = "form">
    	<form action="" method="post">
        	<label for="busqueda">Busca talentos:</label>
	        <input type="text" name="" id="query">
            <a href="/talento/buscar_talento.html"><input type="submit" value="Nueva búsqueda"></a>
	    </form>
	    
    </div>
    <div id="result">
        <% for(var j = 0; j < result.length; j++)
        { %>
            <p>Talento: <%= result[j].getID() %></p>
            <p>Alias: <%= result[j].getAlias() %></p>
            <p>Habilidades: </p>  
            <!-- for(var i = 0; i < result[j].getHabilidades().length; i++)
            { 
                <li> result[j].getHabilidades()[i].getNombre() </li>
             }  -->
            <p>Horario: <%= result[j].getHorario() %></p>
            <p>Lugar: <%= result[j].getLugar() %></p>
            <p>Costo: <%= result[j].getCosto() %></p>
            <p>Reputación: <%= result[j].getReputacion() %></p>
        <% } %>
    </div>
</body>
</html>